{% extends 'main/base.html' %}
{% block title%} Create volunteer account{% endblock %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <form class="d-flex flex-column gap-2" action="{%url 'volunteers:create_volunteer_account' %}"meththod="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Full name</label>
            <input  type="text" name="full_name" id="full_name" class="form-control"/>
            <div class="form-check">
                <label>Gender</label>
                <input class="form-check-input" type="radio" name="gender" id="gender">
                <label class="form-check-label" for="Gender_chois1">
                    Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender" checked>
                <label class="form-check-label" for="Gender_chois2">
                    Female
                </label>
            </div>
            <label>Nationality</label>
            <input type="text" name="nationality" id="nationality"class="form-control"/>
            <label>Phone num</label>
            <input  type="tel"  name="phone_num" id="phone_num"  class="form-control"/>
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control"/>
            <label>Volunteering site</label>
            <input type="Volunteering_site" name="Volunteering_site"  id="Volunteering_site" class="form-control"/>
            <label>Experiences</label>
            <textarea type="text" name="experiences" id="experiences" class="form-control"></textarea>
            <div class="form-check">
                <label>Volunteering field</label>
                <input class="form-check-input" type="checkbox" value="Translation" id="Translation" name="service">
                <label class="form-check-label" for="Translation">
                    Translation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Guidanc" id="Guidanc" name="service">
                <label class="form-check-label" for="Guidanc">
                    Guidanc
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="pushing Wheelchair" id="pushing Wheelchairg"name="service">
                <label class="form-check-label" for="pushing Wheelchair">
                    pushing Wheelchair
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Search for missings" id="Search for missings"name="service">
                <label class="form-check-label" for="Search for missingsd">
                    Search for missings
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Technical assistance" id="Technical assistance" name="service">
                <label class="form-check-label" for="Technical assistance">
                    Technical assistance
                </label>
            </div>
            <label>profile photo</label>
            <input type="file" name="profile_photo" id="profile_photo"class="form-control"/>
            <button class="btn" type="submit">Create account</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}