{% extends 'main/base.html' %}
{% block title%} volunteer Profile{% endblock %}
{% load static %}
{% block content %}
<section style="background-color: #cea46d;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{%url 'main:home'%}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">volunteer Profile</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{volunteer.profile_photo}}" alt="profile photo"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{volunteer.full_name}}</h5>
              <p class="text-muted mb-1">{{volunteer.service}}</p>
              <p class="text-muted mb-4">{{volunteer.Volunteering_site}}</p>
              <p class="text-muted mb-4">{{volunteer.ratings}}</p>
              <hr>
              <div class="row">
                <p class="text-muted mb-4">{{volunteer.is_available}}</p>
                <p class="text-muted mb-4">{{volunteer.is_verified}}</p>
              </div>
              
              
              <div class="d-flex justify-content-center mb-2">
                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Book now</button>
              </div>
            </div>
          </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.full_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.gender}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nationality</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.nationality}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.phone_num}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Service</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.service}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Experiences</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.experiences}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Volunteering site</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{volunteer.Volunteering_site}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}