{% extends 'main/base.html' %}
{% block title%} About us{% endblock %}
{% load static %}
{% block content %}
    <div class="container py-5">
        <h2 class="mb-4">Rate Volunteer</h2>
        <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="rating" class="form-label">Rating (1 to 5)</label>
            <select class="form-select" id="rating" name="rating" required>
            <option value="">Choose...</option>
            {% for i in "12345" %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}