{% extends 'main/base.html' %}
{% block title%} about us{% endblock %}
{% load static %}
{% block content %}
    <main>
        <div class="contanor">
            <div class="row num1">
                <div class="col-md-6 order-md-1 order-2">
                    <h1>About us</h1>
                    <h2>Welcome to Muwazir</h2>
                    <P>platform that connects Hajj and Umrah performers with trusted volunteers in the holy sites, to provide assistance and support during the Hajj and Umrah journey.</P>
                </div>
            </div>
            <div class="row num2">
                <div class="col-md-6">
                    <h2>Our Vision:</h2>
                   <p>We believe that Hajj and Umrah are great spiritual journeys, but they can be physically exhausting, especially for the elderly or people who need special help.</p>
                </div>
                <div class="col-md-6 ">
                    <h2>Our goal:</h2>
                <p> We have developed Muwazir to be a safe and easy-to-use platform, allowing pilgrims to find reliable volunteers to help them perform rituals in comfort and safety.</p>
                </div>
            </div>
            <div class="row num3">
                <h2>Values we believe in:</h2>
                <div class="col-md-4 order-md-1 order-2">
                    <h3>✅Security and trust</h3>
                    <div class="row">
                        <img src="{% static 'images/Security_and_trust.jpg' %}" alt="Security photo">
                    <div>
                    <p>All volunteers go through a verification process to ensure their reliability.</p>
                </div>
                <div class="col-md-4 order-md-1 order-2">
                    <h3>✅Cooperation and assistance</h3>
                    <div class="row">
                        <img src="{% static 'images/Cooperation_and_assistance.jpg' %}" alt="Cooperation photo">
                    <div>
                    <p>We seek to make the Hajj and Umrah journey easier through mutual support.</p>
                </div>
                <div class="col-md-4 order-md-1 order-2">
                    <h3>✅Ease of use</h3>
                    <div class="row">
                        <img src="{% static 'images/Ease_of_use.jpg' %}" alt="Ease of use photo">
                    <div>
                    <p>A simple and effective platform to connect pilgrims with volunteers quickly and easily.</p>
                </div>
            </div>
            <div class="row num4">
                <div class="col-md-6 order-md-1 order-2">
                    <h2>Who can benefit from our website?</h2>
                    <p>Hajj and Umrah performers who need help during rituals.
                       Volunteers who want to help and serve the guests of God's house.
                    </p>

                </div>

            </div>
            
            <div class="row num5">
                <div class="col-md-6 order-md-1 order-2">
                    <h2>How does the website works?</h2>
                    <ul type="circle">
                        <li>Volunteers register on the site and provide their information and expertise.</li>
                        <li>user search for volunteers according to their skills and availability</li>
                        <li>The user can book the appropriate volunteer and communicate with him directly.</li>
                        <li>After the end of service, the user can evaluate the volunteer to help others choose the best volunteer.</li>
                    </ul>
                </div>
            </div>
            <div class="row num5">
                <div class="col-md-6 order-md-1 order-2">

                </div>
                <h3>"If you are a Hajj or Umrah performer looking for help, or a volunteer who wants to lend a helping hand and serve the guests of the House of God, you can register now and start your journey with us!"</h3>
            </div>
            
        </div>
    </main>
    

{% endblock %}