{% extends 'main/base.html' %}
{% block title%} About us{% endblock %}
{% load static %}
{% block content %}
    <main>
        <div class="contanor">
            <div class="container text-center">
                <section class="about1">
                    <div class="row">
                        <div class="col">
                            <h1>About us</h1>
                            <h2>Welcome to Muwazir</h2>
                            <P>platform that connects Hajj and Umrah performers with trusted volunteers in the holy sites, to provide assistance and support during the Hajj and Umrah journey.</P>
                        </div>
                    </div>
                </section>
            </div>
            <div class="container text-center">
                <section class="about2">
                    <div class="row">
                        <div class="col">
                            <h2>Our Vision</h2>
                            <p>We believe that Hajj and Umrah are great spiritual journeys, but they can be physically exhausting, especially for the elderly or people who need special help.</p>
                        </div>
                        <div class="col">
                            <h2>Our goal</h2>
                            <p> We have developed Muwazir to be a safe and easy-to-use platform, allowing pilgrims to find reliable volunteers to help them perform rituals in comfort and safety.</p>
                        </div>
                    </div>
                </section>
            </div>
                            <h2>Values we believe in:</h2>
                            <div class="card-group">
                                <div class="card">
                                <img src="{% static 'images/Security_and_trust.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">✅Security and trust</h5>
                                    <p class="card-text">All volunteers go through a verification process to ensure their reliability.</p>
                                </div>
                                </div>
                                <div class="card">
                                    <img src="{% static 'images/Ease_of_use.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">✅Ease of use</h5>
                                        <p class="card-text">A simple and effective platform to connect pilgrims with volunteers quickly and easily.</p>
                                    </div>
                                    </div>
                                <div class="card">
                                <img src="{% static 'images/Cooperation_and_assistance.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">✅Cooperation and assistance</h5>
                                    <p class="card-text">We seek to make the Hajj and Umrah journey easier through mutual support.</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h2>Who can benefit from our website?</h2>
                    <p>Hajj and Umrah performers who need help during rituals.
                       Volunteers who want to help and serve the guests of God's house.
                    </p>
                  </div>
                </div>
              </div>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h2>How does the website works?</h2>
                    <ul type="circle">
                        <li>Volunteers register on the site and provide their information and expertise.</li>
                        <li>user search for volunteers according to their skills and availability</li>
                        <li>The user can book the appropriate volunteer and communicate with him directly.</li>
                        <li>After the end of service, the user can evaluate the volunteer to help others choose the best volunteer.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h3>"If you are a Hajj or Umrah performer looking for help, or a volunteer who wants to lend a helping hand and serve the guests of the House of God, you can register now and start your journey with us!"</h3>
                  </div>
                </div>
              </div>
            
        </div>
    </main>
    

{% endblock %}