{% extends 'main/base.html' %}
{% block title%} home{% endblock %}
{% load static %}
{% block content %}
    <div class="home_page_contant">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <section class="home1">
                    <h1>MUWAZIR</h1>
                    <h4>We shorten the distance between pilgrims and  volunteers</h4>
                    <p><strong>For the finest service and the easiest spiritual experience</strong></p>

                     <form class="d-flex" role="search" method="GET" action="{% url 'volunteers:volunteer_search' %}"> <input class="form-control me-2" type="search" placeholder="search.." aria-label="Search" name="query"> <button class="btn btn-outline-success" type="submit">🔎</button> </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}