*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*base*/
header{
    background-color: #b39164;
    display: flex;
    color: black;
    height: 70px;
    justify-content:center;
    align-items:center;
    gap:35px;
    
}
header h1{
    margin-right: auto;
    margin-left: 30px;
}
header a{
    
    color: black;
    text-decoration: none;
    display: flex;
}
footer{
    color: black;
}

footer ul{
    padding-left: 0%;
    list-style-type: none;
    display: flex;
    gap: 15px;
    

}
footer li{
    display: inline-block;
}
footer i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #b39164;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 0;
    padding: 0;
    margin: 0;
}

/*home page*/
.home1{
    background-image:url('images/prayer.jpg');
    background-repeat: no-repeat;
    height:100px;
    background-size: cover;
    background-position: center;
}